span {
	color:blue;
}
body {
	background-color:turquoise;
}

body {
	text-align:center;
        line-height:1.5;
	font-family: "Copperplate", "Helvetica", sans-serif;
}
h1 {
font-size:70px;
text-decoration: underline;
background-color:lightblue;
color:blue;
}